section.content {
    z-index: $z-content;
    width: 100%;

    div.sectionDivider {
        border-bottom: 1px solid $color-head;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        margin-bottom: 16px;
        cursor: pointer;

        h2 {
            user-select: none;
        }

        span {
            color: $color-head;
            padding: 6px 4px 4px 4px;
            margin-right: 8px;
            transform: rotate(0.5turn);
            transition: all 400ms;
            animation: all 400ms;
            user-select: none;
        }
    }

    div.upsideDown {
        span {
            transform: rotate(0turn);
            transition: all 400ms;
            animation: all 400ms;
        }
    }

    div.sectionContent {
        display: none;
        margin: 0px 8px 24px 4px;
    }

    div.sectionContent.contentVisible {
        display: block !important;
    }

    img {
        margin: 8px 0px;
    }
}
