//font variables
$font-head: 'Oswald',
sans-serif;
$font-copy: 'Lato',
sans-serif;

//color variables
$color-copy: #16161d; //for main content text
$color-head: #B856D2; //for headers
$color-link: #B856D2; //for links and buttons
$color-em: #8b939b; //for emphasized text
$color-sep: #090B0C; //for separator lines
$color-bg: #FCFCFF; //background color
$color-header-bg: #FCFCFF; //for header backgrounds
$color-contrast: #d2b856; //for contrasting elements

//z-indices
$z-bg: 1; //for backgrounds
$z-content: 2; //for main content
$z-header: 3; //for header & footer
$z-modal-bg: 4; //for backgrounds behind modal boxes
$z-modal: 5; // for modal boxes
$z-modal-label: 6; //for labels in modal boxes
